$primary_color:#2a2a2a;
$secondary_color:#8f3e28;
$tertiary_color:#bf703f;
$quaternary_color:#f2f1f1;
$warning_color:#bf703f;
$error_color:#8f3e28;
$success_color:#20723d;
$info_color:#0e4c7d;
$white_color:#ffffff;
$brown_color:#290D0C;
$color_1:#2C2B2B;
$color_2:#908F8F;
$color_3:#3B3B3B;
$color_4:#272727;
$color_5:#ffbb44;