$default_font_family:'Oxygen', sans-serif;
$alternate_font_family_1:'Open Sans', sans-serif;
$alternate_font_family_2:'Source Sans Pro', sans-serif;
$alternate_font_family_3:'Montserrat', sans-serif;
$alternate_font_family_4:'Lato', sans-serif;