//Add your styles into this file
@import "styles/bc_fonts";
@import "styles/bc_colors";
@import "styles/bc_gravity_forms";
@import "styles/bc_swiper";
@import "styles/bc_bootstrap_override";
@import "styles/bc_fonts_mobile";
@import "styles/bc_navbar_desktop";
@import "styles/bc_navbar_mobile";
.no_hover_underline:hover{
	text-decoration:none;
}
.bc_service_areas_container{
	background-color:$bc_service_areas_bg_color;
}
.bc_contact_form_full {
	label{
		color:$bc_contact_form_label_color;
	}
}  			
.bc_footer_copyright_bar{ 
	line-height: 16px !important; 
	a{
		line-height: 16px !important;
	}
	.bc_footer_copyright_links{
		color:$bc_footer_copyright_links_color;
	}
	@media screen and (max-width:767px){
		padding-bottom: 60px !important;
	}
}
.bc_choose_us_text{
	height: $bc_choose_us_height;
	overflow: auto;
	@media only screen and (max-width: 768px) {
		height: auto;
		#choose_us_toggle{
			display:none;
		}
	}
}
.bc_coupon_container{
	border-style:$bc_coupon_border_style
}
.bc_home_section_bg{
	background-repeat:no-repeat;
	background-size: cover;
}
.bc_default_primary{
	background-color:$bc_default_primary;
}

.bc_hero_container{
     background-image:$bc_hero_bg;
    
	.bc_hero_form_body{
		background-color:$bc_hero_form_body;
		box-shadow: 0 33px 68px 0px rgba(24,24,24,0.13);
		padding-top:20px;	
	}

}

.bc_landing_page_hero_container {
	background-image: $bc_landing_page_hero_bg;
    
	.bc_hero_form_body{
		background-color:$bc_hero_form_body;	
	}

}

.landing_page_hero_layer {
	background-color: #00006328;// rgba(0,0,100, 0.28);
}

.bc_hero_form_title{
		background-color:$bc_hero_form_title;
		justify-content:center;
	}

.bc_locations_container{
	background-image:$bc_locations_bg;
}

.border_width_custom_2{
border-width:$border_width_custom_2;
}

.border-3 {
    border:3px solid !important;
}

.bc_about_bg{
	background-color:$bc_about_bg;
}
.bc_blog_heading_color{
	color:$bc_blog_heading_color;
}

.bc_hero_btn_bg_color{
	background-color:#f38527;
}

.bc_hero_bg_form_color{
	background-color: #116eab;
}

@-moz-document url-prefix() {
   .bc_contact_us_container{
       background-size: 100% 600px;  
   }
} 

.bc_contact_us_container{
	@media only screen and (max-width: 768px) {
		background-image:none !important;
	}
}

.transparent-input {
   background-color: rgba(0, 0, 0, 0);
   border:none;
   &:focus {
   	background-color: rgba(256, 256, 256, 1);
   }
}

.bc_icon_primary_color_light {
	color: #5692b9;
}

.bc_icon_primary_color_dark {
	color: #ffffff;
}

//overrides bootstrap pagination class
.page-item{
	&.active .page-link{
		background-color: #ffffff !important;
		border-color: #00395e !important;
		padding: .67rem .75rem !important;
	}
	.page-link {
		color: #4d4d4d !important;
	}

}

.wrench-man {
	right: 0;
	margin-top: -6em;
	margin-right: 0;
	bottom: 0;
}


.bc_our_services {
	.btn{
		padding:5px 35px !important;
	}
}
/*
div, {
 	&::-webkit-scrollbar {
	 	width: 10px;
	 	background-color: 'lightgrey';
	}	
	&::-webkit-scrollbar-thumb {
		background-color: #f38527;
	}

	scrollbar-color: #f38527 lightgrey;  
}*/

.bc_branding_btn_1, .bc_branding_btn_2{
	@media screen and (min-width: 1024px) {
		width:210px !important;
	}

	@media(hover:none){
		width: 100% !important;
		height: 100%;
	}

}


.bc_affliations_img{
	-webkit-filter: grayscale(100%);
  	filter: grayscale(100%);
  	&:hover{
  		-webkit-filter: grayscale(0%);
  		filter: grayscale(0%);
  	}
}
	

.bc_subpage_hero_overlay{
	justify-content: center;
}

.line_behind_text{
	display: table;
	@media screen and (min-width: 768px) {
		white-space: nowrap;
	}
	&:before, &:after {
      border-top: 2px solid #00395e;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.75em;
      width: 45%;
    }
	&--center {
		@extend .line_behind_text;
	    		
	}
	&--noleft {
		@extend .line_behind_text;
		&:before {
	      width: 0%;
	    }	
	    &:after {
	      width: 85%;
	    }
	}
    &:before { right: 1.5%; }
    &:after { left: 1.5%; }

}

.bc_heating_service_height {
	height: 715px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.bc_finance_bg_color {

	background: #eb8425;
}
.modal-header{
	border-bottom: none !important;

	.close{
		position: absolute;
		right: 30px;
	}
}

.bc_line_height{
	line-height: 1.2
}

.bc_testimonials_container{
	.container{
		color: #000000;
		@media only screen and (max-width: 768px) {
			color:$secondary_color;
		}
	}
}

.bc_geolocation_list_item a{ &:hover{ color: $primary_color; } }



@media (hover: none), only screen and (max-width: 991px) {
	.hide-on-touch{
		display: none !important;
	}
	.show-on-touch{
		display: block !important;
	}
}


.brown_border{
	border-color:$brown_color;
}
.shadow_bottom{
	box-shadow: 0 0 13px 6px rgba(0,0,0,0.29);
}
.outer_shadow{
	transition:all ease 0.4s;
	&:hover{
		box-shadow: 0 0 32px 1px rgba(0,0,0,0.15);
	}
}
.top_line{
	border-top:2px solid $secondary_color;
}
.bottom_border{
	border-bottom:2px solid $secondary_color;
}
.right_md_border{
	border-right:2px solid $secondary_color;
	@media only screen and (max-width: 767px) {
		border-right:none;
	}
}
.footer_badge{
	border-right:2px solid $secondary_color;
}
.footer_border{
	border-top:13px solid $secondary_color;
}
.social_icons a{
	color: $primary_color; 
	margin-right:5px;
	font-size:20px;
	svg{
		font-size:20px;
	}
	@media only screen and (max-width: 767px) {
		margin:0px 5px;
	}
}
@media only screen and (max-width: 1024px) {
	.footer_badge{
		img{
			min-width: 85px;
    		max-width: 85px;
		}
	}
}
@media only screen and (max-width: 767px) {
	.footer_logo{
		max-width:293px;
		margin:0px auto
	}
	.footer_badge{
		margin-right: 8px;
    	padding-right: 8px;
		img{
			min-width: 82px;
    		max-width: 82px;
		}
	}
	.copyright_border{
		border-top:2px solid $secondary_color;
		padding-top:.5rem!important;
	}
}

.footer_address{
	color:#2C2B2B;
}
.free_estimate{
	margin-right:2px;
}
.input_btn{
	top:0px;
	left:0px;
}
.experience_title{
	text-transform:inherit;
}
.experience {
	a.btn.btn-secondary.text-uppercase {
	    width: 255px;
	    height: 64px;
	    line-height: 60px;
	    padding: 0px;
	    line-height: 24px !important;
		font-size: 22px !important;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0px auto;
		font-weight:400;
	    @media screen and (max-width:767px){
		    width: 250px !important;
		    height: 50px !important;
		    line-height: 20px !important;
		    font-size: 18px !important;
		    font-weight:400;
	    }
	}
}
.inspection {
	p {
    	color: #2C2B2B;
    }
}
.btn.btn-primary.hero_form_submit{
	left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    margin-top: 20px;
    width: 190px;
    height: 48px;
	&:before{
		z-index:99;
	}
	&:hover{
		input[type=submit]{
			color:#fff;
		}
	}
	input[type=submit]{
		background:transparent;
		color:$secondary_color;
		z-index:100;
		border:0px;
		font-size: 17px;
	    text-transform: uppercase;
	    line-height: 20px;
	    font-family: Oxygen,sans-serif!important;
	    font-weight: 400;
	    padding:0px;
	}
}
.banner_form  {
	.gform_wrapper {
		ul {
			li.gfield {
				select {
    				background: url(../img/br_down.png) no-repeat 90% center transparent!important;
    				color: #000 !important;
				    font-size: 14px!important;
				    font-weight: 400!important;
				    font-family: "Source Sans Pro",sans-serif;
				    letter-spacing: 1px;
    			}
    		}
    	}
    }
}

.banner_form {
	li:first-child {
		.ginput_container_text{
    		border-top: 1px solid #E4E4E4 !important;
    	}
    }
}
.sevice_wrapper{
	box-shadow: 0 20px 50px 0px rgba(0,0,0,0.03);
    height: 287px;
    position: relative;
    @media only screen and (max-width: 768px) {
    	height:auto;
    }
    &:before{
    	content: "";
	    position: absolute;
	    z-index: 1;
	    background:$secondary_color;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    transform: scaleY(0);
	    transform-origin: 50% 0;
	    transition-property: transform;
	    transition-duration: 0.3s;
	    transition-timing-function: ease-out;
    }
    .service_content{
    	opacity:0;
    	z-index:2;
    	transition-duration: 0.3s;
    	top: 0px;
    }
    &:hover{
    	.service_content{
    		opacity:1
    	}
	    &:before{
	    	transform: scaleY(1);
	    }
    }
    
	img{
		max-width:66px;
	}
	
}
.learn_more{
		text-decoration:none !important;
		z-index:9;
		border-bottom:1px solid $brown_color;
		svg{
			vertical-align:middle;
		}
}
.service_head{
	padding-left: 80px !important;
    font-family: Oxygen,sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-transform: capitalize;
	line-height: 24px;
	letter-spacing: normal;
	color: #2a2a2a;
	text-align:left;
	img{
		width: 55px;
	    height: 55px!important;
	    position: absolute;
	    left: 7px;
	    top: 50%;
	    transform: translateY(-50%);
	}
	button{
		
	}
}

.service_head {
	svg{
	    position: absolute;
	    right: 0;
	    top: 15px;
	    z-index: 10;
	    font-size: 28px;
	    color: #2a2a2a;
	    line-height: 72px;
	    text-align: center;
	}
	svg.fa-minus-circle{
		color: $secondary_color;
	}
}
.b_bottom{
	border-bottom:1px solid #B5B5B5 !important;
}
.sevice_install{
	&:before{
		content:'';
		background:$primary_color;
		left:0px;
		top:0px;
		position:absolute;
		opacity:0.76;
		width:100%;
		height:100%;
	}
	@media only screen and (max-width: 767px){
		background:url("../img/m_home_img1.jpg") !important;
		background-repeat: no-repeat;
    	background-size: cover !important;
    	img{
    		width:181px;
    		height:96px;
    	}
    	.btn.btn-white{
    		width:250px !important;
    		height:50px;
    		line-height:20px;
    		font-size:18px !important;
    		text-transform:uppercase;
    	}
	}
}
.b_left{
	&:before{
		content:'';
		border-left:2px solid #fff;
		height: 100%;
	    position: absolute;
	    left: -5px;
	    @media only screen and (max-width: 767px){
	    	display:none;
	    }
	}
}

.b_right{
	border-right:2px solid #fff;
}

.experience_pagination,.testimonial_pagination{
	left: 0%;
	width:100%;
	.swiper-pagination-bullet {
	    width: 8px!important;
	    height: 8px!important;
	    margin: 25px 5px;
	    border-radius: 0!important;
	    background: #fff !important;
	    opacity: 1 !important;
	}
	.swiper-pagination-bullet-active {
	    opacity: 1;
	    background: $brown_color !important;
	}
}
hr{
	height:2px;
	width:350px;
	margin:30px auto 40px;
	background:$secondary_color;
	@media only screen and (max-width: 767px){
		width:100%
	}
}
.blog,.sub_page_sidebar{
	hr{
		height:2px;
		width:95%;
		margin:30px auto 40px;
		background:$secondary_color;
		@media only screen and (max-width: 767px){
			width:95%
		}
	}
}
.map_location{
	@media only screen and (max-width: 767px){
		background:url("../img/m_service_area_map.jpg") !important;
		background-repeat: no-repeat;
    	background-size: cover !important;
    	padding-top:385px;
	}
	@media only screen and (max-width: 376px){
		padding-top:340px;
	}
}
.expert_title{
	text-transform:inherit;
}
.testimonial_inner{
	margin-bottom: 40px;
	/*width:336px;*/
	/*height:263px;*/
	.h7 {
	    color:#2C2B2B;
	    text-transform: inherit;
	}
	p{
		color:#2C2B2B;
	    text-transform: inherit;
	}
	span{
		color:#363636;
	}
	&:before{
		content: "";
	    position: absolute;
	    width: 0;
	    height: 0;
	    margin-left: -.5em;
	    bottom: -35px;
	    left: 80%;
	    width: 0;
	    height: 0;
	    border-left: 20px solid transparent;
	    border-right: 20px solid transparent;
	    border-top: 35px solid #ffffff;
	    font-size: 0;
	    line-height: 0;
	    z-index: 9999;
	    @media only screen and (max-width: 767px){
	    	display:none;
	    }
    }
    @media only screen and (max-width: 1024px){
    	width:auto;
    	height:auto;
    }
    @media only screen and (max-width: 767px){
		background:transparent !important;
		padding:0px !important;
		h7,.h7{
			text-transform:inherit;
		}
		
	}
}
.testimonial_buttons{
	.testimonial_prev{
		color:#363636;
		height: auto;
	    left: -30px;
	    outline:none;
	}
	.testimonial_next {
		color:#363636;
		height: auto;
	    right: -30px;
	    outline:none;
	}
}

.testimonial {
	a.btn.btn-primary {
	    height: 64px;
	    line-height: 60px;
	    padding: 0px;
	    width: 253px !important;
	    @media screen and (max-width:767px){
	    	width: 250px!important;
		    height: 50px;
		    line-height: 20px;
		    font-size: 18px !important;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    margin: 0px auto;
		    font-weight:400;
	    }
	}
	a.btn.btn-primary.subpage_review{
	    line-height:24px;
	    display: flex;
		align-items: center;
		justify-content: center;
		margin: 0px auto;
	}
}

.affiliations_pagination{
	left: 0%;
	width:100%;
	.swiper-pagination-bullet {
	    width: 8px!important;
	    height: 8px!important;
	    margin: 25px 5px;
	    border-radius: 0!important;
	    background: #ebebeb !important;
	    opacity: 1 !important;
	}
	.swiper-pagination-bullet-active {
	    opacity: 1;
	    background: $brown_color !important;
	}
}



.subpage_content  {
	h1 {
	    position: relative;
	    padding-bottom: 20px;
	    margin-bottom: 20px;
	    &:after {
	    	content: "";
	    	border-bottom: 2px solid #8F3E28;
	    	width: 350px;
	    	height: 2px;
	    	position: absolute;
	    	left: 0px;
	    	bottom: 0px;
	    	@media screen and (max-width:767px){
	    		width:100%
	    	}
	    }
	}
	p {
	    margin-bottom: 30px;
	    padding-right: 10px;
	    color:#2C2B2B;
	    a{
	    	text-decoration:none;
	    	&:hover{
	        	text-decoration:none;
	        }	
	    }
	    a[href="tel: (555) 555-5555"]{
	        color:#2C2B2B;
	        font-weight: 700;
	        &:hover{
	        	text-decoration:none;
	        	color:#2C2B2B;
	        }	
	    }
	}
	h2{
		line-height:48px;
	}
	h2, h3{
	    margin-bottom:20px
	}
	ul{
		padding-left:0px;
		li{
			padding-left:25px;
			list-style:none;
			position:relative;
			color: #2c2b2b;
			&:before{
				content: "";
			    width: 10px;
			    background: #8f3e28;
			    line-height: 30px;
			    height: 10px;
			    border-radius: 100%;
			    font-size: 10px;
			    position: absolute;
			    left: 6px;
			    top: 11px;
			}
		}
	}
}
main{
	ul{
		padding-left:0px;
		li{
			padding-left:25px;
			list-style:none;
			position:relative;
			color: #2c2b2b;
			&:before{
				content: "";
			    width: 10px;
			    background: #8f3e28;
			    line-height: 30px;
			    height: 10px;
			    border-radius: 100%;
			    font-size: 10px;
			    position: absolute;
			    left: 6px;
			    top: 11px;
			}
		}
	}
	ul.pagination{
		li{
			&:before{
				display:none !important;
			}
		}
	}
}
.page-template-bc-subpage-withoutsidebar{
	.subpage_content{
		p{
			padding-right:0px;
		}
		a[href="tel: (555) 555-5555"]{
			display:block;
		}
	}
}
.subpage_form {
	label.gfield_label{
		color:#fff;
		.gfield_required{
			color:#fff !important;
		}
	}
	.large {
	    background: transparent !important;
	    color: #fff;

	}
	.gform_wrapper{
		ul {
			li.gfield {
				select{
					color:#fff !important;
					background:url(../img/br_down_white.png) no-repeat 90% center transparent!important;
				}
			}
		}
	} 
	.subpage_form_submit {
	    margin: 1.5rem auto;
	    width: 196px;
	    height: 54px;
	    left: 50%;
	    -webkit-transform: translateX(-50%);
	    transform: translateX(-50%);
	    margin-bottom: 0;
	    input.button {
		    background: transparent;
		    border: none;
		    color: #fff;
		    text-transform: uppercase;
		    white-space: nowrap;
		    padding: 0px;
		    font-family: Oxygen,sans-serif!important;
		    font-size: 17px;
		    line-height: 24px;
		    cursor:pointer;
		    width: 190px !important;
		    height: 48px !important;
		    left: 0px;
		    top: 0px;
		}
		&:hover{
			input.button{
				color:$secondary_color;
			}
		}
	}
}
.subpage_form.top_line{
	ul {
		li{
			&:first-child{
				input{
					border-top:1px solid #e4e4e4!important;
				}
			}
		}
	}
}
.testimonial_swiper_subpage {
	.testimonial_inner {
    	background-color: #F2F1F1 !important;
    	position:relative;
    	margin-bottom:65px;
    	&:before{
		    content: "";
		    position: absolute;
		    width: 0;
		    height: 0;
		    margin-left: -.5em;
		    bottom: -35px;
		    left: 80%;
		    width: 0;
		    height: 0;
		    border-left: 20px solid transparent;
		    border-right: 20px solid transparent;
		    border-top: 35px solid #F2F1F1;
		    font-size: 0;
		    line-height: 0;
		    z-index: 9999;
    	}
    	@media screen and (max-width:767px){
    		background-color: #fff !important;
    	}
    }
}
.testimonial_pagination_subpage{
	bottom:-30px !important;
	.swiper-pagination-bullet {
	    width: 16px!important;
	    height: 16px!important;
	    margin: 25px 10px!important;
	    background: #f2f1f1 !important;
	    opacity: 1 !important;
	}
	.swiper-pagination-bullet-active {
	    opacity: 1;
	    background: $secondary_color !important;
	}
}
.subpage_banner{
	background-position:center !important;
	
	@media screen and (max-width:767px){
		padding: 75px!important;
	    background-size: cover!important;
	    background-repeat: no-repeat!important;
	    background: url(../img/m_sub_banner.jpg) !important;
	    background-position: center !important;
	}
}
.gallery_main{
	margin-bottom:30px;
	.gallery_content {
	    width: 100%;
	    z-index: 9;
	    height: 100%;
	    background-color: rgba(42, 42, 42, 0.75);
	    left: 0px;
	    top: 0px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    transform: scale(0);
	    transition:all ease 0.4s;
	}
	&:hover{
		.gallery_content{
			transform:scale(1);
		}
	}
}
#bc_footer_address_widget-3{
    list-style: none !important;
}

.modal_title{
	padding-left:20px;
	padding-right:20px;
}
.modal-body{
	.subpage_form {
		.floating_labels_wrapper {
		    padding-left: 20px !important;
		    padding-right: 20px !important;
		    ul.gform_fields{
		    	border-top: 1px solid #e4e4e4!important;
		    	margin-top: 2rem !important;
		    }
		    .subpage_form_submit{
		    	margin-top:2rem !important
		    }
		}
	}
}
.form_shadow{
 	box-shadow: 0 33px 68px 0px rgba(24,24,24,0.13);
}
a.swipebox-{
	position: relative;
    display: block;
    img{
    	width:100%;
    }
	&:before {
	    width: 100%;
	    z-index: 9;
	    background-color: rgba(42,42,42,.75);
	    left: 0;
	    top: 0;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    transform: scale(0);
	    transition: all ease .4s;
	    content: "";
	    position:absolute;
	    height:100%;
	}
	&:after{
		content:"";
		background:url(../img/search-icon.png);
		width: 36px;
	    z-index: 9;
	    height: 36px;
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%,-50%);
	    opacity:0;
	    position:absolute;
	    transition: all ease .5s;
	}
	&:hover{
		&:before{
			transform: scale(1);
		}
		&:after{
			opacity:1;
		}
	}
}

#swipebox-overlay {
    background: rgba(42,42,42,.85) !important;
}
/*#swipebox-bottom-bar {
    top: 50% !important;
    background:transparent !important;
    transform: translateY(-50%) !important;
}
#swipebox-arrows {
    width: 100%!important;
    max-width: 450px !important;

}
#swipebox-close {
    right: 36%!important;
    top: 31.4%!important;
}*/

#swipebox-slider .slide img {
    width: 45em !important;
    min-width: 45em !important;
    max-width: 45em !important;
    @media screen and (max-width:1025px){
    	width: 40em !important;
    	min-width: 40em !important;
    	max-width: 40em !important;
    }
    @media screen and (max-width: 420px){
    	width: 20em !important;
	    min-width: 20em !important;
	    max-width: 40em !important;
    }
    @media screen and (max-width: 400px){
    	width: 18em !important;
		min-width: 18em !important;
		max-width: 18em !important;

    }
    
}
a#swipebox-close {
    right: 13em !important;
    top: 3.2em !important;
    @media screen and (max-width:1920px){
    	right: 23em!important;
    	top: 8.2em!important;
    }
    @media screen and (max-width:1366px){
    	right: 9em !important;
    	top: 0.4em !important;
    }
    @media screen and (max-width:1300px){
	    right: 7em!important;
	    top: 1.4em!important;
    }
    @media screen and (max-width:1025px){
    	right: 2em!important;
	    top: 20.2em!important;
	    transform: none;
    }
    @media screen and (max-width:820px){
    	right: 2em!important;
	    top: 17.2em!important;
	    transform: none;
    }
    @media screen and (max-width: 420px){
    	right: 0em !important;
    	top: 15.2em !important;
    }
    @media screen and (max-width: 400px){
    	right: 0em !important;
    	top: 12.6em!important;
    }
}

div#swipebox-bottom-bar {
    top: 50%;
    background: transparent;
    transform: translateY(-50%) !important;
}

div#swipebox-arrows {
    max-width: 50em;
    width: 100%;
}

.blog,.sub_page_sidebar  {
	main{
		h1 {
		    position: relative;
		    padding-bottom: 20px;
		    margin-bottom: 20px;
		    &:after {
		    	content: "";
		    	border-bottom: 2px solid #8F3E28;
		    	width: 350px;
		    	height: 2px;
		    	position: absolute;
		    	left: 0px;
		    	bottom: 0px;
		    	@media screen and (max-width:767px){
		    		width:100%
		    	}
		    }
		}
		p {
		    margin-bottom: 30px;
		    padding-right: 10px;
		    color:#2C2B2B;
		    a{
		    	text-decoration:none;
		    	&:hover{
		        	text-decoration:none;
		        }	
		    }
		    a[href="tel: (555) 555-5555"]{
		        color:#2C2B2B;
		        font-weight: 700;
		        &:hover{
		        	text-decoration:none;
		        	color:#2C2B2B;
		        }	
		    }
		}
		h2{
			line-height:48px;
		}
		h2, h3{
		    margin-bottom:20px
		}
		ul{
			padding-left:0px;
			li{
				padding-left:25px;
				list-style:none;
				position:relative;
				color: #2c2b2b;
				&:before{
					content: "";
				    width: 10px;
				    background: #8f3e28;
				    line-height: 30px;
				    height: 10px;
				    border-radius: 100%;
				    font-size: 10px;
				    position: absolute;
				    left: 6px;
				    top: 11px;
				}
			}
		}
	}
}
#album_gallery_ {
    margin-bottom: 30px;
}

.affiliations_section {
    .affiliation_logos {
	    padding: 78px 0px;
	}
}

.footer_title{
	padding-bottom: 17.5px!important;
    padding-top: 17px;
    height: 64.5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.footer_logo {
    padding-bottom: 20px;
}
.footer_locations{
	margin-top:20px;
}

div#swipebox-top-bar,div#swipebox-top-bar.visible-bars {
    top: 81%;
    background: 0 0;
    text-align: left;
    line-height: inherit;
    display: block;
    font-size: inherit;
    transform:none;
    @media screen and (max-width:1366px){
    	top:85%;
    }
    @media screen and (max-width:1024px){
    	top: 74%;
    }
    @media screen and (max-width:768px){
    	top: 72%;
    }
    @media screen and (max-width:420px){
    	top: 68%;
    	height: auto;
    }

}

div#swipebox-title {
    max-width: 45em;
    width: 100%;
    margin: 0px auto;
    text-align: left;
    display: block;
    @media screen and (max-width:1024px){
    	max-width: 40em;
    }
    @media screen and (max-width:768px){
    	max-width: 40em;
    }
    @media screen and (max-width:420px){
	    max-width: 18em;
	    width: 100%;
	    margin: 0px auto;
    }
    @media screen and (max-width:380px){
	    max-width: 18em;
	    width: 100%;
	    margin: 0px auto;
	    
    }
}
img.bc_branding_logo {
    width: 374px !important;
}
div#swipebox-title span {
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    font-size: 20.02px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 30.03px;
    text-shadow: none;
    text-transform: uppercase;
}

div#swipebox-title p {
    font-family: "Open Sans";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    color: #fff;
    text-shadow: none;
}

